<div id="Header"></div>

<ul>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/')">Home</a>
    </li>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/tasks')">Tasks</a>
    </li>
</ul>

<h1>Tasks (VN Province List)</h1>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <%= task.name %>
        </li>
    <% }); %>
</ul>

<div id="Footer"></div>

<script>
    // Render the header component
    window.corejs.view('component/header').then((html) => {
        // Use corejs helper to render HTML with scripts
        window.corejs.helper.renderHTML(document.getElementById('Header'), html);
    });

    // Render the footer component
    window.corejs.view('component/footer').then((html) => {
        // Use corejs helper to render HTML with scripts
        window.corejs.helper.renderHTML(document.getElementById('Footer'), html);
    });

    // Render the footer component
    window.corejs.view('component/footer').then((html) => {
        document.getElementById('Footer').innerHTML = html;
    });
</script>