<ul>
    <li>
        <a href="javascript:;" onclick="router.goToPage('/')">Home</a>
    </li>
    <li>
        <a href="javascript:;" onclick="router.goToPage('/tasks')">Tasks</a>
    </li>
</ul>

<h1>Tasks</h1>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <%= task.title %>
        </li>
    <% }); %>
</ul>