<ul>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/')">Home</a>
    </li>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/tasks')">Tasks</a>
    </li>
</ul>

<h1>Tasks (VN Province List)</h1>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <%= task.name %>
        </li>
    <% }); %>
</ul>