<div id="Header"></div>

<ul>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/')">Home</a>
    </li>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/tasks')">Tasks</a>
    </li>
</ul>

<h1>Home Page</h1>


<div id="DynamicTestBox">
    <p>Ajax content will be loaded here. Click the button below.</p>
    <button id="loadTasksBtn">+ Add Task</button>
</div>

<div id="Footer"></div>

<script>
    // Render the header component
    window.corejs.view('component/header', {
        subTitle: 'Welcome to MyJS!!',
    }).then((html) => {
        // Use corejs helper to render HTML with scripts
        window.corejs.helper.renderHTML(document.getElementById('Header'), html);
    });

    // Render the footer component
    window.corejs.view('component/footer').then((html) => {
        // Use corejs helper to render HTML with scripts
        window.corejs.helper.renderHTML(document.getElementById('Footer'), html);
    });

    // Click Add Task button to load the task form dynamically
    var loadButton = document.getElementById('loadTasksBtn');
    var tasksContainer = document.getElementById('DynamicTestBox');

    loadButton.addEventListener('click', () => {
        loadButton.innerHTML = 'loadding....'

        corejs.router.render('/tasks/add-form', tasksContainer);
    });
</script>