<ul>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/')">Home</a>
    </li>
    <li>
        <a href="javascript:;" onclick="corejs.router.goToPage('/tasks')">Tasks</a>
    </li>
</ul>

<h1>Home Page</h1>


<div id="DynamicTestBox">
    <p>Ajax content will be loaded here. Click the button below.</p>
    <button id="loadTasksBtn">+ Add Task</button>
</div>



<script>
    var loadButton = document.getElementById('loadTasksBtn');
    var tasksContainer = document.getElementById('DynamicTestBox');

    loadButton.addEventListener('click', () => {
        loadButton.innerHTML = 'loadding....'

        corejs.router.render('/tasks/add-form', tasksContainer);
    });
</script>